<div id='header' role='banner'>
  <a tabindex='1' href='#content' id='jumpToContent'>jump to content</a>
  <div id='sr-header-area'>
    <STRONG>THIS IS NOT REDDIT!!!</STRONG>
    |
    Welcome to the <strong>V for Reddit</strong> client.
    |
    Built to replicate and extend the familiar user interface.
  </div>
  <div id='header-bottom-left'>
    {{#if subreddit.header_img}}
      {{#link-to 'index' id='header-img-a' class='default-header'}}
        <img id='header-img' {{bind-attr
          src=subreddit.header_img
          alt=subreddit.display_name
          title=subreddit.header_title
        }}>
      {{/link-to}}
    {{else}}
      {{#link-to 'index' id='header-img' class='default-header'}}
        From reddit.com
      {{/link-to}}
    {{/if}}
    {{outlet "tabmenu"}}
  </div>
  <div id='header-bottom-right'>
    {{#if user}}
      <span class='user'>
        <a>{{user.name}}</a>
      </span>&nbsp;(<span class='userkarma'>{{user.link_karma}}</span>)
      <span class='separator'>|</span>
      <a id='mail' href='/message/inbox' {{bind-attr class="user.has_mail:havemail:nohavemail"}}>messages</a>
      <span class='separator'>|</span>
      <a id='modmail' href='/message/moderator' {{bind-attr class="user.has_mod_mail:havemail:nohavemail"}}>messages</a>
      <span class='separator'>|</span>
      <a>Expires {{time-ahead-in-words loginExpiry}}</a>
    {{else}}
      <a title='Login' {{action 'login'}} style='cursor: pointer;'>Login at reddit.com</a>
    {{/if}}
  </div>
</div>
<div class='side'>{{outlet "sidebar"}}</div>
<div class='listing-chooser initialized'></div>
<a name='content'></a>
<div class='content' role='main'>{{outlet}}</div>
{{#if fixedExpando}}
  <div class='fixed-expando'>
  <div class='controls'>
    <button {{action "closeFixedExpando"}}>Close</button>
  </div>
  {{#with fixedExpando}}
    {{#if imageUrl}}
      <img {{bind-attr src=imageUrl}}/>
    {{else}}
      {{#if media.oembed.html}}
        {{{media.oembed.html}}}
      {{/if}}
    {{/if}}{{#if selftext_html}}
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{selftext_html}}}
        </div>
      </form>
    {{/if}}
  {{/with}}
  </div>
{{/if}}
