<div class='spacer'>
  <form id='search' role='search'>
    {{input value=search name='q' placeholder='search'}}
    <input type='submit' value tabindex='22'/>
    <div id='searchexpando' class='infobar'>
    </div>
  </form>
</div>
{{#if display_name}}
  {{!--<div class='spacer'>
    <div class='sidebox submit submit-link'>
      <div class='morelink'>
        <a>Submit a new link</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>
  <div class='spacer'>
    <div class='sidebox submit submit-text'>
      <div class='morelink'>
        <a>Submit a new text post</a>
        <div class='nub'></div>
      </div>
    </div>
  </div>--}}
  {{#if stylesheet}}<style>{{{stylesheet}}}</style>{{/if}}
  <div class='spacer'>
    <div class='titlebox'>
      <h1 class='hover redditname'>
        {{link-to display_name 'subreddit.index'}}
      </h1>
      <span class='subscribers'>
        <span class='number'>{{subscribers}}</span>
        <span class='word'>readers</span>
      </span>
      <p class='users-online' title='logged-in users viewing this subreddit in the past 15 minutes'>
        <span class='number'>{{accounts_active}}</span>
        <span class='word'>users here now</span>
      </p>
      <div class='tagline'></div>
      <form class='usertext'>
        <div class='usertext-body md-container'>
          {{{description_html}}}
        </div>
      </form>
    </div>
  </div>
{{/if}}
  <div class='spacer'>
    <form class='usertext'>
      <div class='usertext-body md-container'>
        <div class='md'>
          <hr>
          <h1>This is not reddit.com!!!</h1>
          <p>This is a new type of API client for reddit.com.</p>
          <p>It's built in Ember.js, and replicates the familiar reddit HTML as a Single Page App (SPA)</p>
          <p><a href='https://github.com/PoliticBot/vforreddit'>Source code available at github.com</a></p>
          <h2>What's the point?</h2>
          <p>Recreating the reddit UI as a Single Page JS application makes it easy to host your own enhanced version of the site for your subreddit, or your own personal use.</p>
        </div>
      </div>
    </form>
  </div>
